body {
  background-color: #ffffff;
  color: #000000;
}

h1 {
  font-size: 2em;
  margin-top: 0;
}

p {
  font-size: 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}
